# default ignore everything
*

# include .gitignore, readme
!.gitignore
!README.md

# allow config folder, but ignore contents
!.config/
.config/*

# shell config
!.bashrc
!.config/fish/
.config/fish/*
!.config/fish/config.fish

# neovim config 
!.config/nvim/
.config/nvim/*
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua**
